@font-face {
  font-family: "BasisGrotesque";
  src: url("/fonts/BasisGrotesquePro-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BasisGrotesque-Light";
  src: url("/fonts/BasisGrotesquePro-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "BasisGrotesque-Bold";
  src: url("/fonts/BasisGrotesquePro-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}
