@font-face {
  font-family: "BasisGrotesque";
  src: url("~assets/fonts/BasisGrotesquePro-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BasisGrotesque";
  src: url("~assets/fonts/BasisGrotesquePro-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "BasisGrotesque";
  src: url("~assets/fonts/BasisGrotesquePro-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}
