h1 {
  font-size: 10rem;
  font-weight: 300;
  color: $black;

  @media (min-width: $mid) {
    font-size: 12rem;
  }

  @media (min-width: $big) {
    font-size: 14rem;
  }

  @media (min-width: $mega) {
    font-size: 16rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  color: $black;

  @media (min-width: $mega) {
    font-size: 3.75rem;
  }
}
