@import "_fonts.scss";
@import "_layout.scss";
@import "reset.scss";
@import "normalize.scss";
@import "typography.scss";

html {
  font-family: "BasisGrotesque", "Roboto", "Noto", sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
